
    <header>
      <div id="" class="navbar-fixed-top">
        <div class="header-top">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-sm-3 col-xs-12 main-logo"> <a class="logo"  data-ui-sref="site"> Logo </a> </div>
              <div class="col-lg-9 col-sm-9 col-xs-12 pull-right top-links">
                <ul class="list-inline">
                  <li>
                    <div class="input-group">
                      <input class="form-control input-lg" type="text">
                      <span class="input-group-btn">
                      <button class="btn btn-warning btn-lg" type="button"><i class="fa fa-search"></i></button>
                      </span> </div>
                  </li>
                  <li> <a href="javascript:void(0);">Login</a></li>
                  <li> <a href="javascript:void(0);">Signup</a></li>
                 
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="main-nav">
          <nav class="navbar navbar-default">
            <div class="container"> 
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="topMenu">


                    <li><a class="main-link" data-ui-sref="site.news">All Boards</a></li>
                    <li><a class="main-link" href="contactus.php">Location</a></li>

                    <li><a class="main-link" href="contactus.php">Boards</a></li>
                    <li><a class="main-link" href="contactus.php">Authorities</a></li>
                    <li><a class="main-link" href="contactus.php">NGO'S</a></li>
           
           
                  <li class="dropdown"><a class="main-link" href="be-autism-access.php">More</a> <i class="fa fa-angle-down dropdown-toggle visible-xs " data-toggle="dropdown"></i>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="be-autism-access.php?tab=1">The project</a></li>
                      <li><a href="be-autism-access.php?tab=2">National Chain</a></li>
                      <li><a href="be-autism-access.php?tab=3">Champions Network</a></li>
                      <li><a href="be-autism-access.php?tab=4">Local Activities</a></li>
                    </ul>
                  </li>
                  <li><a class="main-link" data-ui-sref="site.news">News</a></li>
                  <li><a class="main-link" href="contactus.php">Contact Us</a></li>
                </ul>
              </div>
              <!-- /.navbar-collapse --> 
            </div>
            <!-- /.container-fluid --> 
          </nav>
        </div>
      </div>
      <div class="modal fade model_login" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="col-sm-12 col-md-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <form role="form" action="#" method="POST">
                      <fieldset>
                        <div class="row">
                          <div class="center-block login_img">
                           <img class="img-circle" height="105px;" src="images/user_img.jpg" alt=""> 
                           
                           </div>
                        </div>
                        <div class="row">
                          <div class="form-group">
                            <div class="input-group login_input"> <span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i> </span>
                              <input class="form-control" placeholder="Username" name="loginname" autofocus="" type="text">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group login_input"> <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i> </span>
                              <input class="form-control" placeholder="Password" name="password" value="" type="password">
                            </div>
                          </div>
                          <div class="footer_login">
                            <div class="form-group pull-left logim_btn">
                              <input class="btn btn-warning btn-block" value="Login" type="submit">
                            </div>
                            <div class="pull-right forgate"> <a href="#">Forgate Your Password?</a><br>
                              <span class="pull-right remember">
                              <input type="checkbox">
                              Remember me</span> </div>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="modal fade model_login" id="sign_up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="col-sm-12 col-md-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <form role="form" action="#" method="POST">
                      <fieldset>
                        <div class="row">
                          <div class="center-block login_img"><a href="#">
                           <img class="img-circle" height="105px;" src="images/upload_img.jpg" alt=""></a> 
                           <p align="center" class="img_upload">Upload Image</p>
                           </div>
                        </div>
                        <div class="row">
                          <div class="form-group">
                            <div class="input-group login_input"> <span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i> </span>
                              <input class="form-control" placeholder="Name" name="loginname" autofocus="" type="text">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group login_input"> <span class="input-group-addon"> <i class="glyphicon glyphicon-envelope"></i> </span>
                              <input class="form-control" placeholder="E-mail" name="loginname" autofocus="" type="e-mail">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group login_input"> <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i> </span>
                              <input class="form-control" placeholder="Password" name="password" value="" type="password">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group login_input"> <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i> </span>
                              <input class="form-control" placeholder="Re-Enter Password" name="password" value="" type="password">
                            </div>
                          </div>
                          <div class="footer_login">
                            <div class="form-group pull-left logim_btn">
                              <input class="btn btn-warning btn-block" value="Sign up" type="submit">
                            </div>
                            
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </header>
    