<div class="container" style="margin-top: 40px;">

    
    <div class="row">
    <!-- Left-aligned media object -->
    <div class="col-sm-6">
    
    <div class="media">
      <div class="">
        <img src="/assets/image/img_avatar6.png" class="media-object" style="width:60px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Left-aligned</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <hr>
    
    <!-- Right-aligned media object -->
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">Right-aligned</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="">
        <img src="assets/image/img_avatar6.png" class="media-object" style="width:60px">
      </div>
    </div>
    </div>
    
    <div class="row">
       
    <div class="col-sm-6">

        <div class="media">
          <div class="">
            <img src="assets/image/img_avatar6.png" class="media-object" style="width:60px">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Left-aligned</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <hr>
        
        <!-- Right-aligned media object -->
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">Right-aligned</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="">
            <img src="assets/image/img_avatar6.png" class="media-object" style="width:60px">
          </div>
        </div>

        </div>



        
        </div>
        
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-6">
    <div class="">
        <img src="assets/image/pie.png" class="media-object" style="">
      </div>

</div>
<div class="col-sm-6">
    <div class="">
        <img src="assets/image/bar1.png" class="media-object" style="height: 352;">
      </div>


</div>
</div>



</div>

